{% extends "layout.html" %}
{% block content %}
<!-- Third Container (Submit damage assessment)  -->

  <div class="container-fluid bg-1 text-center" id ="second" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
  <h3>How it works</h3>
   <div class="row">
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-phone logo-small"></span>
      <h4>Take Picture</h4>
      <p>For best results, try to focus on one major area of damage (e.g., front, side, or rear) and contain most of the car body in the picture.</p>
    </div>
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-upload logo-small"></span>
      <h4>Upload</h4>
      <p>Upload your picture to our Vehical Damage Detective. </p>
    </div>
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-cog logo-small"></span>
      <h4>Assessment</h4>
      <p>Convolutional neural networks will identify where and how severely your car is damaged and provide an immediate assessment</p>
    </div>
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-file logo-small"></span>
      <h4>Results</h4>
      <p>Results can be used to obtain a cost estimate or submit to your insurance company to expedite claims handling</p>
    </div>
    </div>
</div>

<div class="container-fluid bg-2 text-center" id="third" style="padding-bottom: 20px;">
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
    <h3 style = "margin-top: 0px;
    margin-bottom: 0px;">Submit Damage Assessment</h3>
        <div class = flashes>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}</div>
<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="window"></div>
  <div>
    <form action="assessment" method="POST" enctype="multipart/form-data" class ="form-inline">
    <span class="btn btn-default btn-file">
    <span class="fileinput-new">Select Image</span>
    <span class="fileinput-exists">Change</span>
    <input type="file" id="filename" name="file"></span>
    <button type="submit" class="btn btn-default fileinput-exists" id="analyze" onclick="loading();">Submit</button></form></div>

  </div>
  <div id="loading"></div>
      <h4>Image tips:</h4>
    <p>Please upload an image focused on one major area of damage (e.g., front, side, or rear).Only jpg, jpeg, gif and png formats are currently supported.</p>
    <p>Try to contain most of the car in the picture unless it doesn't capture the damage well. If there is more than one major area of damage, you can upload and assess multiple pictures.</p>
    </div>
<!--<footer class="bg-4 text-center" style="padding-top: 2px;">
  <p>@Integration Fabric 2018</p> 
</footer>-->
{% endblock %}